#title-principal{
    display: flex;
    justify-content: center;
}
#header-options{
    display: flex;
    justify-content: space-around;
}
#harta-container {
            height: 600px; 
            width: 90%; 
            max-width: 1200px; 
            margin: 30px auto; 
            border: 2px solid #ccc;
            border-radius: 8px;
        }